*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url(img/bg_img.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

nav {
    width: 85%;
    height: 10vh;
    background-color: #ededed;
    border-radius: 0 0 30px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 20px;
}
.nav_left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25%;
    height: 100%;
}
.a_main {
    width: 85%;
    height: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: #FF4E4E;
    border-radius: 20px;
    font-size: 36px;
    text-decoration: none;
}
.menu_btn {
    height: 65%;
    border: none;
    color: #878787;
    font-size: 36px;
    cursor: pointer;
    transition: .5s;
}
.rotate {
    rotate: 180deg;
}
.search_bar {
    width: 30%;
    height: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search_bar input {
    width: 100%;
    height: 95%;
    border: 3px solid #FF4E4E;
    border-radius: 50px;
    box-sizing: border-box;
    padding: 0 10px;
    font-size: 24px;
    color: #FF4E4E;
    outline: none;
}
.search_bar input::-webkit-input-placeholder { color: #FF4E4E; }
.menu {
    width: 27%;
    height: 10vh;
    background-color: #ededed;
    border-radius: 30px;
    border: 3px solid #FF4E4E;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 20px;
    position: absolute;
    left: 17.5%;
    top: -20vh;
    transition: .5s;
}
.usernick {
    font-size: 35px;
    font-weight: bolder;
    text-decoration: none;
    color: #FF4E4E;
}
.menu form {
    width: 50%;
    height: 60%;
}
.exit_btn {
    width: 100%;
    height: 100%;
    background-color: #FF4E4E;
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 36px;
    cursor: pointer;
}
.active {
    top: 10vh;
}
.aut {
    width: 35%;
    height: 60%;
    background-color: #FF4E4E;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    font-size: 36px;
}
.reg {
    width: 60%;
    height: 60%;
    background-color: #FF4E4E;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    font-size: 36px;
}
.forms p {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    height: 5%;
}

.main_part {
    width: 85%;
    min-height: 80vh;
    background-color: #ededed;
    border-radius: 20px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    padding: 30px 40px;
}
.main_part h1 {
    font-size: 48px;
}

.articles1 {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

.article1 {
    width: 30%;
    aspect-ratio: 1 / 1;
    border: 3px solid red;
    margin-top: 5vh;
    transition: .5s;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-sizing: border-box;
    padding-top: 23vh;
    text-decoration: none;
}
.article1:hover {
    background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url(img/plate_bc.png);
    background-size: cover;
    transition: .5s;
    padding-top: 0;
}
.h2 {
    color: white;
    font-size: 80px;
    border: none;
    background: transparent;
    cursor: pointer;
}
.article1 p {
    color: white;
    font-size: 30px;
    font-weight: bold;
}


.fandoms {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.big_fandom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5vh;
    padding-top: 5vh;
}
.big_fandom:nth-child(n+2) {
    border-top: #cecece 2px solid;
}
.fandom {
    width: 18%;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px #FF4E4E solid;
    border-radius: 50px;
    text-decoration: none;
    color: white;
    overflow: hidden;
}
.fandom img {
    height: 100%;

}
.right_fandom {
    width: 78%;
    height: 280px;   
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.fandom_title {
    font-size: 38px;
    font-weight: bold;
    text-decoration: none;
    color: #FF4E4E;
}

.fandom_descr {
    width: 100%;
    text-align: justify;
    font-size: 22px;
}
.fandom_link {
    font-size: 20px;
    text-decoration: none;
    color: #878787;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
.fandom_link:hover {
    color: #FF4E4E;
}

footer {
    width: 85%;
    height: 95px;
    margin-top: 25px;
    background-color: #ededed;
    border-radius: 30px 30px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 20px;
}
.copyright {
    font-size: 20px;
}
.footer_right {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15%;
}






.article {
    display: flex;
    align-items: flex-start;
    justify-content: start;
    box-sizing: border-box;
    padding: 20px 35px;
}
.article_name {
    font-size: 48px;
}
.text_block {
    text-indent: 35px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 15px; 
}
.text_block:nth-of-type(1) {
    text-indent: 35px;
    width: 75%;
    box-sizing: border-box;
    margin-top: 15px;
}
.text_block_name {
    font-size: 35px;
    text-indent: 0;
}
.article_text {
    font-size: 26px;
    text-align: justify;
    margin-top: 10px;
}
.link_block {
    width: 50%;
    height: 20%;
    border: 3px #FF4E4E solid;
    border-radius: 27px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 12px 33px;
    margin-top: 25px;
    margin-bottom: 10px;
}
.link_block ol {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    font-size: 26px;
}
.link_block a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}
.card {
    position: absolute;
    right: 180px;
    border: 3px solid #FF4E4E;
    border-radius: 27px;
    width: 17%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 20px;
}
.card_img {
    width: 70%;
}
.card_name {
    font-size: 35px;
}
.card_info {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    font-size: 26px;
}
.card_info p {
    width: 100%;
}


.articleADD {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.article_nameADD {
    width: 50%;
    height: 5vh;
    border: #FF4E4E 3px solid;
    border-radius: 16px;
    box-sizing: border-box;
    outline: none;
    background-color: white;
    padding-left: 15px;
    font-size: 28px;
}
.ADD {
    text-indent: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50vh;
}
#counter {
    width: 0;
    height: 0;
    position: absolute;
    top: -200px;
}
.text_block_nameADD {
    width: 70%;
    height: 5vh;
    border: #FF4E4E 3px solid;
    border-radius: 16px;
    box-sizing: border-box;
    outline: none;
    background-color: white;
    padding-left: 15px;
    font-size: 28px;
    margin-top: 15px;
}
.article_textADD {
    width: 100%;
    height: 80%;
    border: #FF4E4E 3px solid;
    border-radius: 16px;
    box-sizing: border-box;
    outline: none;
    background-color: white;
    padding-left: 15px;
    font-size: 28px;
    text-align: start;
    resize: none;
}
.fandom_list {
    margin-top: 2vh;
    width: 60%;
    height: 5vh;
    border: #FF4E4E 3px solid;
    border-radius: 10px;
    font-size: 28px;
    outline: none;
    cursor: pointer;
}
.btn_block {
    width: 60%;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}
.partADD {
    width: 40%;
    height: 100%;
    font-size: 28px;
    color: white;
    background-color: #FF4E4E;
    border-radius: 18px;
    border: none;
    cursor: pointer;
}
.articleADD_submit {
    height: 100%;
    width: 35%;
    background-color: #FF4E4E;
    border-radius: 18px;
    border: none;
    font-size: 28px;
    color: white;
    cursor: pointer;
}
.card_img_block {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card_imgADD {
    width: 100%;
    height: 5vh;
    border: 3px #FF4E4E solid;
    border-radius: 10px;
    box-sizing: border-box;
    padding-left: 15px;
    font-size: 18px;
    outline: none;
}
.card_info input {
    height: 3vh;
    border: 3px #FF4E4E solid;
    border-radius: 15px;
    outline: none;
    width: 35%;
}

.reg_section {
    height: 90vh;
    justify-content: center;
}
.reg_title {
    font-size: 36px;
    font-weight: lighter;
    color: #FF4E4E;
}
.reg_form {
    width: 30%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 5vh;
}
.reg_field {
    width: 100%;
    height: 15%;
    border: 3px solid #FF4E4E;
    border-radius: 20px;
    box-sizing: border-box;
    padding-left: 5%;
    font-size: 24px;
    outline: none;
}
.reg_sub {
    height: 17%;
    width: 100%;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #FF4E4E;
    border-radius: 24px;
    font-size: 24px;
}
.aut_form {
    width: 30%;
    height: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 5vh;
}
.aut_field {
    width: 100%;
    height: 18%;
    border: 3px solid #FF4E4E;
    border-radius: 20px;
    box-sizing: border-box;
    padding-left: 5%;
    font-size: 24px;
    outline: none;
}
.aut_sub {
    height: 21%;
    width: 100%;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #FF4E4E;
    border-radius: 24px;
    font-size: 24px;
}

.user_part {
    display: flex;
    align-items: flex-start;
    justify-content: start;
}
.username {
    font-size: 50px;
    color: #FF4E4E;
}
.user_articles_block {
    width: 100%;
    margin-top: 10vh;
}
.user_fandoms {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
.user_fandoms .fandom {
    width: 27%;

}
.exit {
    margin-top: 10vh;
    width: 40%;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.exit input {
    width: 40%;
    height: 100%;
    border: 3px solid #FF4E4E;
    border-radius: 15px;
    background-color: #FF4E4E;
    color: white;
    font-size: 30px;
    cursor: pointer;
}
.add_article {
    width: 50%;
    height: 100%;
    background-color: #FF4E4E;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;
    text-decoration: none;
}
.u_page_buttons {
    margin-top: 10vh;
    width: 40%;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.u_page_buttons input {
    width: 30%;
    height: 100%;
    border: 3px solid #FF4E4E;
    border-radius: 15px;
    background-color: #FF4E4E;
    color: white;
    font-size: 30px;
    cursor: pointer;
}
.users_list {
    width: 25%;
    height: 100%;
    border: 3px solid #FF4E4E;
    border-radius: 15px;
    background-color: #FF4E4E;
    color: white;
    font-size: 30px;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.user {
    width: 100%;
    height: 6vh;
    border-bottom: 2px #bebebe solid;
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 20px;
}
.user div {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: start;
}
.user div p {
    display: flex;
    align-items: center;
    justify-content: start;
}
.user_header {
    border-bottom: 2px #868686 solid;
}
.userID {
    width: 5%;
}
.user_nickname {
    width: 20%;
}
.user_mail {
    width: 45%;
}
.admin_status {
    width: 10%;
}
.user_form {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}
.u_f_submit {
    width: 15%;
    height: 80%;
    border: none;
    color: white;
    background-color: #FF4E4E;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}
.delete_user {
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}
.del_us_sub {
    width: 100%;
    height: 80%;
    border: none;
    color: white;
    background-color: #FF4E4E;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}
.del_main_part {
    justify-content: center;
}
.del_user_nick {
    font-weight: lighter;
}
.choice_forms {
    width: 40%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.choice_form {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.choice_form input {
    width: 80%;
    height: 20%;
    background-color: #FF4E4E;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 22px;
    cursor: pointer;
}

.fandomADD {
    justify-content: center;
}
.fandomADD h1 {
    font-size: 35px;
}
.fandom_add_form {
    width: 50%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding-top: 5vh;
}
.fandom_name {
    width: 60%;
    height: 10%;
    border: 2px solid #FF4E4E;
    border-radius: 5px;
    font-size: 20px;
    outline: none;
    box-sizing: border-box;
    padding-left: 10px;
}
.fandom_sub {
    resize: none;
    width: 60%;
    height: 35%;
    border: 2px solid #FF4E4E;
    border-radius: 5px;
    font-size: 20px;
    outline: none;
    box-sizing: border-box;
    padding-left: 10px;
}
.fandom_icon {
    width: 60%;
    height: 10%;
    border: 2px solid #FF4E4E;
    border-radius: 5px;
    font-size: 20px;
    outline: none;
    box-sizing: border-box;
    padding-left: 10px;
}
.fandomADD_sub {
    width: 40%;
    height: 10%;
    cursor: pointer;
    background-color: #FF4E4E;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}
.fandom_form {
    box-sizing: border-box;
}
.f_f_submit {
    margin-left: 20%;
}
.fandom_header {
    justify-content: space-between;
}
.admin_buttons {
    width: 90%;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2vh;
}